/* event.html과 연결 */
@charset "utf-8";

#container{width: 600px; height: 500px; margin: 0 auto; text-align: center; position: relative;}
button{padding: 0 10px; position: absolute; bottom: 40px; right: 60px;}