/* showhide_event.html과 연결 */
@charset "utf-8";

#item{width: 200px; margin: 40px auto; position: relative;}
.btn_show{position: absolute; top: 165px; left: 20px;} 
.text{width: 200px; line-height: 1.5; text-align: justify; display: none;}